<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tambah Budaya</title>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <h2>Tambah Budaya</h2>
    <span>Masukkan data budaya yang akan ditambahkan kedalam sistem</span>
    {% include 'includes/_form.html' %}
    {% if text is defined %}
        <h4>{{text}}</h4>
    {% endif %}
</body>
</html>